<html>
<head>
<title>库存信息</title>
</head>
<body>
  <select name="product">
    <option value="果C精品">果C精品</option>
    <option value="新款丝薄">新款丝薄</option>
    <option value="IP小飞侠">IP小飞侠</option>
    <option value="丝柔">丝柔</option>
  </select>

  <select name="size">
    <option value="*">ALL</option>
    <option value="NB">NB</option>
    <option value="S">S</option>
    <option value="M">M</option>
    <option value="L">L</option>
    <option value="XL">XL</option>
    <option value="XXL">XXL</option>
    <option value="XXXL">XXXL</option>
  </select>


  <input type="radio" name="type" value="1">纸尿裤
  <input type="radio" name="type" value="2">拉拉裤
  <br>

  <button name="StockQuery">查询</button>
  <button name="StockReturn">返回</button>

  <div style="width:500px;text-align:center">
    <div style="background-color:#00FFFF;width:230px">
      <h1 style="margin-bottom:0;">出入库信息记录</h1>
    </div>

    <table border="1" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>供应商</th>
          <th>类型</th>
          <th>尺寸</th>
          <th>订单数量</th>
        </tr>
      </thead>
      <tbody id="refuge-tbody"></tbody>
    </table>
  </div>
</body>

<script>
    // 获取表单中的按钮
    var stockQuery = document.querySelector('button[name=StockQuery]');
    var stockReturn = document.querySelector('button[name=StockReturn]');

    // 点击返回按钮，跳转到 order.html
    stockReturn.onclick = function() {
        location.href = './order.html';
    }

    // 发送 ajax 请求,从 /api/query 中获取数据
    let xhr = new XMLHttpRequest()
    xhr.open("GET", "http://localhost:18080/api/query",true)
    xhr.onload = function (){
        console.log(xhr.responseText)
        // 将响应数据填充到表格中
        let resp = JSON.parse(xhr.responseText)
        console.log(resp)
        let tbody = document.getElementById("refuge-tbody")
        for(let i = 0; i < resp.length; i++){
            let tr = document.createElement("tr")
            let td1 = document.createElement("td")
            let td2 = document.createElement("td")
            let td3 = document.createElement("td")
            let td4 = document.createElement("td")
            td1.innerText = resp[i].Provider
            td2.innerText = resp[i].Product
            td3.innerText = resp[i].Size
            td4.innerText = resp[i].Amount
            tr.appendChild(td1)
            tr.appendChild(td2)
            tr.appendChild(td3)
            tr.appendChild(td4)
            tbody.appendChild(tr)
        }
    }
    xhr.send()

</script>

</html>