<html>
<head>
<title>入库</title>
</head>
<body>

  <form>
    <select name="type">
      <option value="果C精品">果C精品</option>
      <option value="新款丝薄">新款丝薄</option>
      <option value="IP小飞侠">IP小飞侠</option>
      <option value="丝柔">丝柔</option>
    </select>

    <select name="size">
      <option value="NB">NB</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
      <option value="XXL">XXL</option>
      <option value="XXXL">XXXL</option>
    </select>

    数量:<input type="text" name="number">

    <input type="submit" name="commit" value="提交">
  </form>

<input type="radio" name="gender" value="1">纸尿裤
<input type="radio" name="gender" value="2">拉拉裤

<input type="checkbox" name="interest" value="note1">备注1
<input type="checkbox" name="interest" value="note2">备注2
<input type="checkbox" name="interest" value="note3">备注3

</body>

<script>
  // 获取页面上的元素
  var stockIn = document.querySelector('form');
  var stockInType = stockIn.querySelector('select[name=type]');
  var stockInTypeValue = stockInType.value;
  var stockInSize = stockIn.querySelector('select[name=size]');
  var stockInSizeValue = stockInSize.value;
  var stockInInput = stockIn.querySelector('input[name=number]');
  var stockInInputValue = stockInInput.value;
  var stockInSubmit = stockIn.querySelector('input[name=commit]');

  // 点击提交按钮，提交表单
  stockInSubmit.onclick = function(e) {
    e.preventDefault()
    // 判断数量中为正整数
    // var stockInInputValueReg = /^[1-9]\d*$/;
    // if (!stockInInputValueReg.test(stockInInputValue)) {
    //   alert('请输入正整数');
    // }
    console.log(stockInInputValue)
    console.log(stockInTypeValue)
    console.log(stockInSizeValue)

    // 点击提交时，发起请求
    let xhr = new XMLHttpRequest()
    xhr.open('POST', 'http://localhost:18080/api/stock-in',true)
    xhr.onload = function (){

    }
    xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded")
    xhr.send('input=' + stockInInputValue + '&type=' + stockInTypeValue + '&size=' + stockInSizeValue)
  }


</script>

</html>