<html>
<head>
<title>入库</title>
</head>
<body>

  <form action="/stock-in" method="post">
    <select name="类型">
      <option value="果C精品">果C精品</option>
      <option value="新款丝薄">新款丝薄</option>
      <option value="IP小飞侠">IP小飞侠</option>
      <option value="丝柔">丝柔</option>
    </select>

    <select name="尺寸">
      <option value="NB">NB</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
      <option value="XXL">XXL</option>
      <option value="XXXL">XXXL</option>
    </select>

    数量:<input type="text" name="数量">

    <input type="submit" name="提交" value="提交">
  </form>

<input type="radio" name="gender" value="1">纸尿裤
<input type="radio" name="gender" value="2">拉拉裤

<input type="checkbox" name="interest" value="note1">备注1
<input type="checkbox" name="interest" value="note2">备注2
<input type="checkbox" name="interest" value="note3">备注3

</body>
</html>